body
{
	background-color: #CDF7F4 !important;
}

.custom_box
{
margin-top: 7%;
padding-left: %;
background-color: #fff;

}
.box_title h3
{
   font-family: 'Nunito Sans', sans-serif;
	font-weight: bold;
	color:red;
}
.plan
{
	
	margin: 5px;
}
.plan img
{
	ju
}
.plan:hover
{
   	border:1px solid #000	;
   	transform: scale(1.01);
   	z-index: 10;

}

.form-check label
{
	color: green;
}
.panel
{
	padding: 1.2em;
	box-shadow: 5px 5px 10px #000;
	background: #CFCCCC;
	margin: 2em;
}
.panel span,strong
{
font-size: 1.2em;
}
#price_box,#price_box1,#price_box2,#price_box3
{
	border: none;
	text-align: center;
}

 #selectable .ui-selecting { background: #CFCCCC; }
  #selectable .ui-selected { background: #CFCCCC; color: white; }



.card-header,.collapsed ,
{
	font-family: 'Inter', sans-serif;
	font-weight: 600;
}
.collapse ul li
{

	font-family: 'Inter', sans-serif;
	font-weight: 600;
}













/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 568px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

}

@media only screen and (max-width: 768px)
{
	{

	}
}
