.top{
    text-align: right;
    font-family: Garamond;
    font-size: 13px;
     color:#ffffff;
    background-color: #2f3640;
}
.navbar{
    background-color: #006266;
}

footer.page-footer{
    background-color: #2f3640;
}